html{
	background: #339;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	width: 900px;
	background: #E5E5E5;
	margin: 20px auto;
	border: 8px solid #67d;
}

h1{
	display: block;
	background: #67d;
	color: #fff;
	padding: 6px;
	margin: 0;
	font-size: 21px;
}

div.info{
	background: #88f;
	margin-top: 0;
	padding: 9px 0;
	overflow: hidden;
}

div.info a{
	float: right;
	margin-right: 7px;
	border-bottom: 1px dotted #fff;
	text-decoration: none;
}

div.info a:hover{
	border-bottom: 1px solid #fff;
}

div.sidebar{
	width: 240px;
	float: left;
}

ul.cats{
	padding: 0;
	list-style: none;
}

li.all{
	margin-top: 10px;
}

ul.cats li{
	border-bottom: 1px solid #cdcdcd;
}

ul.cats li:hover{
	background: #d5d5d5;
}

ul.cats a{
	text-decoration: none;
	padding: 8px 15px;
	font-size: 15px;
	display: block;
}

label.error{
	color: #a43;
	font-size: 14px;
	font-style: italic;
}

form.search{
	margin: 20px 0;
}

form.search input[type=text]{
	margin-left: 8px;
	width: 180px;
}

form.search input[type=submit]{
	background: transparent url(../images/search.png) no-repeat center center;
	cursor: pointer;
	margin: 0 0 0 -8px;
	padding: 0;
	width: 32px;
	height: 32px;
	border: 0 none;
}

div.main{
	width: 660px;
	background: #fff;
	float: right;
}

ul.books{
	list-style: none;
	margin: 15px;
	padding: 0;
	overflow: hidden;
}

ul.books li{
	width: 190px;
	float: left;
	text-align: center;
	margin: 10px;
	font-size: 15px;
}

ul.books b{
	margin-top: 5px;
	padding: 0;
	display: block;
}

ul.books i{
	color: #EA8899;
	display: block;
}

a.add-to-cart{
	background: #67d;
	text-decoration: none;
	display: block;
	margin: 0 15px;
	padding: 5px;
}

div.footer{
	clear: both;
	background: #95A5A6;
	padding: 4px 0;
}

div.footer p{
	text-align: center;
	display: block;
}

ul.cats li a.clear{
	color: #936;
}

ul.cats li a.continue{
	color: #34f;
}

div.order{
	padding: 8px 20px;
}

table{
	background: #392;
	width: 350px;
	margin-top: 10px;
}

table th{
	color: #fff;
	padding: 5px;
}

table td{
	background: #fff;
	padding: 5px;
}

h2{
	color: #a32;
	margin-top: 0;
	border-bottom: 1px solid #95A5A6;
	font-size: 20px;
	padding: 6px 0;
}

label{
	display: block;
	color: #95A5A6;
	margin-top: 10px;
}

input[type=text], input[type=email],textarea{
	border: 1px solid #95A5A6;
	padding: 7px 0;
	width: 300px;
}

textarea{
	resize: none;
	height: 100px;
}

input[type=submit]{
	padding: 8px 35px;
	font-size: 18px;
}

a{
	text-decoration: none;
}

p.submit-order{
	display: block;
	background: #5a5;
	text-align: center;
	margin: 50px 40px;
	padding: 10px 0;
}

p.submit-order a{
	border-bottom: 1px dotted #fff;
}

a.back{
	float: right;
	margin: 12px 20px;
}


